*{
  margin: 0;
  padding: 0;
}
body{
  width: 90vw;
  height: 90vh;
  background-image: url('../img/banka.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
header h1{
  margin: 20px;
  padding: 10px;
  color: #fff;
}
nav{
  position: relative;
  float: right;
  top: -60px;
}
nav ul{
  list-style: none;
}
nav ul li{
  display: block;
  float: left;
  padding: 15px;
}
nav ul li a{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: 98%;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#signup{
  display: none;
}
#user_signup{
  width: 50%;
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
}
#user_signup p{
    text-align: center;
    margin-top: 20px;
}
#user_signup p a{
    color: rgb(3, 126, 56);
    text-decoration: none;
}

#navbar{
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100%;
  background: rgb(98, 243, 163);
}
#navbar #logo h2{
  padding: 10px;
}

#user_login{
  width: 50%;
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
}
#user_login p{
  text-align: center;
  margin-top: 20px;
}
#user_login p a{
  color: rgb(3, 126, 56);
  text-decoration: none;
}
#login{
  margin-left: 0px;
  position: relative;
  display: block;
}
#second_navbar{
  height: 50px;
  width: 50%;
  display: block;
  margin: 0 auto;
  color: #000;
  background: rgb(98, 243, 163);
  border-bottom: 1px solid rgb(202, 198, 198);
  position: relative;
  text-align: center;
}
#second_navbar h3{
  padding: 15px;
  display: inline-block;
}
#second_navbar span{
  color: rgb(3, 126, 56);
}


input[type=text],input[type=password], select{
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]{
  width: 100%;
  background: rgb(98, 243, 163);
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover{
  background: rgb(3, 126, 56);;
}

#homepage{
  display: block;
  margin: 60px auto;
  width: 80%;
  background: #f4f4f4;
}
#homepage #welcome_h1{
  text-align: center;
  padding: 30px;
}
#inner_homepage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card{
  background: #fff;
}
.card-img{
  width: 320px;
  border-bottom: 2px solid rgb(98, 243, 163);
}
.card p {
  text-align: center;
  padding: 10px;
}
.card #tran_code{
  padding: 20px;
}
.card button{
  padding: 10px;
  background: rgb(98, 243, 163);
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
#card_2{
  text-align: center;
  padding: 10px;
}
#card_2 a{
  padding: 9px;
  display: block;
}