#user_history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
}
#user_history div{
    border-bottom: 1px solid rgb(170, 168, 168);
}
#main a{
    display: block;
    text-align: center;
    margin-top: 50px;
}

@media only screen and (max-width: 700px) {
    #user_history{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: 90%;
        margin-left: 5%;
        margin-top: 100px;
    }
}